/* GLOBAL */

:root {
    --hot-pink: #ff0080;
    --dark-gray: #595959;
    --light-gray: #eeeeeeff;
    --light-pink: #ffade6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: var(--light-gray);
    font-size: 20px;
}

header p:hover {
    color: var(--hot-pink);
}

/* MAIN */

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.hide {
    display: none;
}

#startCont {
    text-align: center;
}

#startCont h2 {
    margin-bottom: 30px;
    font-size: 36px;
}

#startCont p {
    margin-bottom: 30px;
    font-size: 20px;
}

#startCont button {
    padding: 15px 30px;
    background-color: var(--hot-pink);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
}

#startCont button:hover {
    background-color: var(--light-pink);
}

/* FOOTER */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: sticky;
    top: 100vh;
    width: 100%;
    padding: 30px 50px;
    background-color: var(--light-gray);
    font-size: 20px;
    color: var(--hot-pink);
}

