/* GLOBAL */

:root {
    --hot-pink: #ff0080;
    --dark-gray: #595959;
    --light-gray: #eeeeeeff;
    --light-pink: #ffade6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: var(--light-gray);
    font-size: 20px;
}

header p:hover {
    color: var(--hot-pink);
}

/* MAIN */

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

#content {
    text-align: center;
    margin-bottom: 30px;
}

#content p {
    font-size: 20px;
}

#content h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.btns {
    border: none;
    background-color: var(--hot-pink);
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 15px;
    margin: 30px;
    
}

/* FOOTER */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    padding: 30px 50px;
    background-color: var(--light-gray);
    font-size: 20px;
    color: var(--hot-pink);
}