/* GLOBAL */

:root {
    --dark-teal: #045D5D;
    --light-teal: #1EA1A1;
    --dark-brown: #5C4033;
    --light-brown: #C89D7C;
   
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 30px 50px;
    background-color: var(--light-brown);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

header p:hover {
    color: var(--light-teal);
}

/* MAIN */

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px 100px;
}

.hide {
    display: none;
}

#startCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--dark-brown);
}

#startCont h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

#startCont p {
    font-size: 24px;
    margin-bottom: 30px;
}

#startCont button {
    padding: 15px 30px;
    background-color: var(--light-teal);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
}

#startCont button:hover {
    background-color: var(--dark-teal);
}

#questCont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: var(--dark-brown);
    font-size: 30px;
}

#questCont p {
    margin-bottom: 30px;
}

.ansBtn {
    border: none;
    border-radius: 15px;
    background-color: var(--light-teal);
    color: white;
    padding: 15px;
    margin: 5px;
    width: 40%;
    font-size: 20px;
}

.ansBtn:hover {
    background-color: var(--dark-teal);
}

#resCont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 30px;
}

#nextBtn {
    padding: 15px 30px;
    background-color: var(--light-teal);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 30px;
}

#nextBtn:hover {
    background-color: var(--dark-teal);
}


/* FOOTER */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: sticky;
    top: 100vh;
    width: 100%;
    padding: 30px 50px;
    background-color: var(--light-brown);
    color: white;
    font-size: 20px;
    font-weight: bold;

}

